img {
    margin-top: 35px;
    border: 7.5px solid rgb(218, 110, 64);
    margin-left: 5px;
    margin-right: 5px;
}

#description_text {
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(121, 255, 3);
}



#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  
  #image-container, #text-container {
    display: flex;
  }

  #text-container {
    padding: 10px;
    font-size: xx-large;
    background-color: rgb(218, 110, 64);
  }
  
  
  #myImage, #myText {
    max-width: 100%;
    max-height: 100%;
  }
  
  #rotary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  
  #rotary-image-container, #rotary-text-container {
    display: flex;
  }

  #rotary-text-container {
    padding: 10px;
    font-size: xx-large;
    background-color: rgb(218, 110, 64);
  }
  
  
  #rotary-myImage, #rotary-myText {
    max-width: 550px;
    max-height: 400px;
  }
  
